---
permalink: index.html
layout: base
title: Dan Kelley
---

<h1>About Dan Kelley</h1>

<p>Dan is a Professor of Oceanography at Dalhousie University in Halifax, Nova
Scotia, Canada.  He teaches there, and is also the Graduate Coordinator.  His research focuses on ocean mixing, especially that caused by internal waves and double-diffusive convection.  Some information about Dan and his work can be found at the
following links.</p>

<ol>

    <li> <a
        href="http://www.dal.ca/faculty/science/oceanography/faculty-staff/faculty/daniel-e-kelley.html">Dalhousie University</a> provides contact information and (by university mandate) mentions just five publications.

    <li> <a
        href="https://www.researchgate.net/profile/Dan_Kelley3/contributions/?ev=prf_act">
        ResearchGate</a> provides free PDFs of publications, along with (rmarkably inaccurate) citation counts.

    <li> <a
        href="http://scholar.google.ca/citations?user=6ujnSaEAAAAJ&hl=en">Google-scholar</a> provides publisher links (which require login) to some publications, along with (somewhat accurate) citation counts.

    </ol>


    <p>Dan is the author of the Oce package for oceanographic analysis in R,
    and readers can follow its development, along with other things he makes
    public, by viewing his <a
    href="https://github.com/dankelley?tab=repositories">Github
repositories</a>.</p>

    <p>In late 2013, Dan started experimenting with blogging, creating a <a
        href="http://saltydrip.wordpress.com">WordPress</a> blog.  Finding the
    WordPress data entry scheme being somewhat arduous, and disliking the
    lock-in to a commercial site, he started experimenting with github blogging
    in early 2014, yielding the entries provided below.  (The source for the
    blog, and also for the present page, is provided at <a
    href="https://github.com/dankelley/dankelley.github.io">github</a>.)</p>

    <ul>
        {% for post in site.posts %}
        <li> <!-- {{ post.date | date: "%B %e, %Y" }} -->
        <a href="{{ post.url }}">{{ post.title }}</a> Tags:
        {% for tag in post.tags order:ascending  %}
        <span class=tag><a href="{{ site.url }}/tags/{{ tag }}">{{ tag }}</a></span>
        {% if forloop.last != true %} &#183; {% endif %}
        {% endfor %}
        {% endfor %}
    </ul>
    </p>

