<!DOCTYPE HTML>
<html lang="en">
<head>
<link rel='stylesheet' type='text/css' href='{{ site.url }}/css/syntax.css' />
<link rel='stylesheet' type='text/css' href='{{ site.url }}/css/style.css' />
<title>{{ page.title }}</title>
</head>
<body>
<span class=topnav>
{% if page.previous.url %}
<a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">
    Previous
</a>
{% endif %}
| <a href='/'>Home</a> |
{% if page.next.url %}
<a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">
    Next
</a>
{% endif %}
</span>

{% if page.comments %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'httpdankelleygithubio';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>


{% endif %}

<div class=post_title>{{page.title}}</div>

<div class=slug>
<div class=post_date>Posted {{ page.date | date: "%B %e, %Y" }}, tagged
        {% for tag in page.tags %}
        <a href="{{ site.url }}/tags/{{ tag }}/index.html" class="tag">{{ tag }}</a>
        {% if forloop.last != true %} &#183; {% endif %}
        {% endfor %}

</div>

<div class=post_summary>{{ page.summary }}</div>
</div>

{{ content }}

<div id="disqus_thread"></div>
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'dankelleydalhousie'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
 var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
 dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
 })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

</body>
</html>

